version: 2.1

jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:7.0

    steps:
      - checkout

      - run:
          name: Restore Dependencies
          command: dotnet restore

      - run:
          name: Build Project
          command: dotnet build --configuration Release

      - run:
          name: Run Tests
          command: dotnet test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
